[user]
	name = Bernat de Pablo
	email = depablobernat@gmail.com
[push]
	default = simple
[core]
	autocrlf = input
	trustctime = false
	editor = vim
	filemode = false
	excludesfile = ~/.gitignore_global
[help]
  autocorrect = 300
[credential]
	helper = osxkeychain
[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  fl = log -u
  st = status -s
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff --color-words
  tree = log --graph --oneline --decorate
  last = log -1 --stat
  cp = cherry-pick
  cl = clone
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  stashall = "!git add . && git stash"
  serve = "!ng serve --target=development --environment=local-testing"
  dev = "!git checkout develop && git pull origin develop"
  plod = pull origin develop
  amend = commit --amend -m
  aa = add -A .
  aacm = "!git add -A . && git commit -merge"
  unstage =  reset --soft HEAD^
  la = "!git config -l | grep alias | cut -c 7-"

[branch]
	autosetuprebase = always
[color]
  ui = true
[merge]
  tool = vimdiff
	ff = false
[mergetool]
  keeptemporaries = false
  keepbackups = false
  prompt = false
  trustexitcode = false
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[github]
	user = depablobernat
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/bernat.depablo/.stCommitMsg
