[user]
	name = Alberto Fernandez
	email = (null)
[push]
	default = simple
[core]
	autocrlf = true
	trustctime = false
	editor = vim
	filemode = false
[credential]
	helper = wincred
[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  st = status -s
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
	tree = log --graph --oneline --decorate
	last = log -1 --stat
	cp = cherry-pick
	cl = clone
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[branch]
	autosetuprebase = always
[color]
	ui = true
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
